<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bioshare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="sensorPortrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForgotActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateVisible|adjustUnspecified" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TutorialActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".VerificationSplashActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".WhatSellingActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".PhoneAuthActivity"
            android:label=""
            android:parentActivityName=".SignupActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".HomeActivity"
            android:label=""
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ResetActivity"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".EmailVerification"></activity>
    </application>

</manifest>